.homepage {

  height: 100vh;
  width: 100vw;

  background: var(--bg-primary);

  &-public {}
  &-client {
    display: grid;
    place-items: center;

    > .container {
      height: 80%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;


      button { 
        background: linear-gradient(90deg, var(--gradient-orange-starting), var(--gradient-orange-ending))
      }

      .card {
        border: dashed hotpink 4px;
        background: lightgray;
        border: solid gray 1px;
        border-radius: 5px;
        padding: 5%;

 
      }
    }


  }
  &-instructor {}
}