// Global styles go here

@import 'resets';
@import 'colors';

body {
  font-family: Averta,Helvetica,Arial,sans-serif;
}

.hide-display {
  display: none;
}
.hide-visibility {
  visibility: hidden;
}

a { color: var(--text-primary); }